{% extends "business/nav.html" %}
<!-- {% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }} -->
{% block title %}提交订单{% endblock %}
{% block content %}
    <h3>提交订单</h3>
    <div class = "create_purchaseorder">
        <form method="post">
            {% csrf_token %}
            <!-- {{form.as_p}} -->
            {% bootstrap_form form %}
            <div class="create_purchaseorder_submit">
                <input type="submit" value="提交" />
                <input type="button" value="返回" onclick='window.open("{% url 'purchaseorder_home'%}")'/>

            </div>
        </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}