{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{%endblock%}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div class="nav-title">
            <a href="{% url 'business' kind=info.kind %}">
            <p class="main-title">员工管理系统</p>
            <p class="sub-title">
                {% if info.kind == "Employee" %}
                    员工端
                {% elif info.kind == "Administrator" %}
                    普通管理员端
                {% endif %}</p>
            </a>
        </div>
        <div class="log-out">
            <a href='{%url  "logout"%}'>登出</a>
        </div>
        <div class="name-logo">
            <div class="user-name">
                <a href="{%url 'show' info.kind %}">
                    {{ info.name.0 }}
                </a>
                <!-- {{ info.name.0 }} -->
            </div>
        </div>
    </div>
    
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    <div class="navbar">
        <a href="{% url 'timecard_home' %}">打卡</a>
        <a href="">生成报告</a>
        {% if info.user.is_commissioned %}
            <a href="{% url 'purchaseorder_home' %}">维护采购表</a>
        {% endif %}
    </div>
</body>
</html>